<!-- portfolio\templates\contact.html -->
{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}
{% block content %}

<div class="contact-details">
    <div class="logo-container">
        <img src="{% static 'images/CycloForge_Logo_pay-off.png' %}" alt="Logo" class="logo">
    </div>
    {% for contact in contacts %}
    <ul>
        <li><strong><i class="fas fa-envelope"></i> Email:</strong> <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></li>
        <li><strong><i class="fab fa-linkedin"></i> LinkedIn:</strong> <a href="{{ contact.linkedin }}" target="_blank">Michael Verbroekken</a></li>
        <li><strong><i class="fab fa-github"></i> GitHub:</strong> <a href="{{ contact.github }}" target="_blank">Cyclosaryn</a></li>
    </ul>
    {% endfor %}
</div>
{% endblock %}