<!-- portfolio\templates\contact.html -->
{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}
{% block content %}

<div class="contact-details">
    <div class="logo-container">
        <img src="{% static 'images/CycloForge_Logo_pay-off.png' %}" alt="Logo" class="logo">
    </div>
    <ul>
        <li><strong><i class="fas fa-envelope"></i> Email:</strong> <a href="mailto:mcj.verbroekken@gmail.com">mcj.verbroekken@gmail.com</a></li>
        <li><strong><i class="fab fa-linkedin"></i> LinkedIn:</strong> <a href="https://www.linkedin.com/in/michael-verbroekken/" target="_blank">Michael Verbroekken</a></li>
        <li><strong><i class="fab fa-github"></i> GitHub:</strong> <a href="https://github.com/Cyclosaryn/" target="_blank">Cyclosaryn</a></li>
    </ul>
</div>
{% endblock %}