<!-- portfolio/templates/portfolio/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'js/animated-text.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css\home.css' %}">
{% endblock %}
{% block content %}
<div class="image-container">
    <img class="container-image" src="{% static 'images/turned-gray-laptop-computer.jpg' %}">
</div>
<div class="title-container">
    <h1 class="title">I am:</h1><h1 id="animated-text" class="title animated-text"></h1>
</div>
<section class="section">
<div class="profile-picture-container">
    <img class="profile-picture" src="{{ MEDIA_URL }}{{ biography.profilepicture.url }}"> 
</div>
<div class="biography-container">
    {{ biography.bio|safe }}
</div>
</section>
{% endblock %}