<li class="menu-li {% if request.resolver_match.url_name == 'home' %}is-active{% endif %}">
    <a class="navbar-item"
       href="/"
       {% if request.resolver_match.url_name == 'home' %}aria-current="page"{% endif %}>
       Home <i class="fas fa-home menu-icon"></i>
    </a>
</li>
<li class="menu-li">
    <a class="navbar-item {% if request.resolver_match.url_name == 'projects' %}is-active{% endif %}"
       href="/projects"
       {% if request.resolver_match.url_name == 'projects' %}aria-current="page"{% endif %}>
       Projects <i class="fas fa-boxes menu-icon"></i>
    </a>
    <ul>
        <li class="menu-lu">
            <a class="navbar-item" href="/hermes/home">
                Hermes <i class="fas fa-angle-right menu-icon"></i>
            </a>
        </li>
    </ul>
</li>
<li class="menu-li last">
    <a class="navbar-item {% if request.resolver_match.url_name == 'contact' %}is-active{% endif %}"
       href="/contact"
       {% if request.resolver_match.url_name == 'contact' %}aria-current="page"{% endif %}>
       Contact <i class="fas fa-paper-plane menu-icon"></i>
    </a>
</li>
