{% load static %}

<div class="menu-card">
    <div class="menu-header" onclick="document.querySelector('.menu-body').classList.toggle('show'); this.classList.toggle('expanded');">
        <a href="/" onclick="event.stopPropagation();">
            <img src="{% static 'images/CycloForge_Logo.png' %}" alt="CycloForge" class="brand-logo">
        </a>
        <h3 class="menu-h2">Menu</h3>
        <i class="fas fa-angle-down iconM"></i>
    </div>
    <div class="menu-body">
        <ul>
            {% include 'menuentries.html' %}
        </ul>
    </div>
</div>