<!-- portfolio/templates/portfolio/projects.html -->
{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/projects.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            {% for project in projects %}
            <div class="column is-one-fifth">
                <div class="card shadow-lg is-cursor-pointer">
                    <div class="card-image cover-image is-overflow-hidden">
                        <figure class="image">
                            {% if project.projectpicture %}
                                <img src="{{ MEDIA_URL }}{{ project.projectpicture.url }}" alt="{{ project.name|safe }}">
                            {% else %}
                                <img src="" alt="{{ project.name|safe }}">
                            {% endif %}
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h3>{{ project.name|safe }}</h3>
                            <p>{{ project.description|safe }}</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{% url 'project_detail' project.id %}" class="card-footer-item p-5 is-uppercase is-text-wide-1">
                            Continue Reading
                        </a>
                    </footer>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}