{% load static %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img class="brand-logo" src="{% static 'images\CycloForge_Logo.png' %}" alt="Logo">
            <p>CycloForge</p>
            <div class="navbar-divider"></div>
        </a>
    </div>
    <div id="navbarBasic" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>
            <a class="navbar-item" href="#">
                About
            </a>
            <a class="navbar-item" href="#">
                Projects
            </a>
            <a class="navbar-item" href="#">
                Contact
            </a>
        </div>
    </div>
</nav>