.card-standard {
    width: 100%;
    max-width: 400px; /* Keeps the cards from being too wide */
    margin: 0 auto; /* Centers the cards in the carousel item */
    height: auto;
    max-height: 450px; /* Limits height for better uniformity */
    overflow: hidden; /* Ensures content does not overflow the card */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
}

.card {
    border-radius: 10px;
    box-shadow: 0px 5px 10px var(--highlight-hover);
    transition: transform 0.3s ease;
    background-color: var(--light-fonts);
    color: var(--dark-fonts);
    height: 360px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card-content {
    flex: 1;
    padding: 15px;
    overflow: hidden; /* Hide content that overflows the container */
    position: relative; /* Required for positioning the after pseudo-element */
}

.card-content .content {
    margin: 0;
    display: -webkit-box; /* Required for multiline ellipsis */
    -webkit-box-orient: vertical; /* Ensures the text is treated vertically */
    -webkit-line-clamp: 6; /* Number of lines to show before truncating */
    overflow: hidden; /* Hides the rest of the content */
    text-overflow: ellipsis; /* Adds an ellipsis (...) when the text is cut off */
    line-height: 1.5em; /* Set consistent line height */
    white-space: normal; /* Allows text wrapping */
    max-height: calc(1.5em * 7); /* Maximum height to match the line count */
}

.content h3 {
    color: var(--dark-fonts) !important;
}

.card-image {
    padding: 10px;
}

.image img {
    display: block;
    object-fit: cover;
    width: 200px;
}

.card:hover {
    transform: translateY(-5px); /* Slight lift on hover for interactivity */
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Optional: Adjusting the card titles */
.title.is-5 {
    margin-bottom: 15px;
    color: var(--dark-fonts);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px; /* Space between grid items */
    padding: 20px;
    width: 90%;
    max-width: 1200px; /* Limit the maximum width for larger screens */
    margin: 0 auto; /* Center the grid container */
}

.card-footer a {
    background-color: var(--pale-purple);
    color: var(--dark-fonts);
}
.card-footer a:hover {
    background-color: var(--highlight-hover);
    color: var(--light-fonts);
}


@media screen and (max-width: 800px) {
    body {
        overflow-y: scroll;
    }
}